* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    padding: 0px;
    /* background: url('https://images.unsplash.com/photo-1534361960057-19889db9621e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NHx8cGV0JTIwc2hvcHxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60'); 
    background-size: cover;
    background-attachment: fixed;*/
    background-color: whitesmoke;
}


/*header {
    position: sticky;
    top: 0px;
    opacity: 0.8;
}*/

.nav-cont {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 1.05rem;
    display: flex;
    flex-direction: row;
    background-color: rgb(8, 17, 6);
    color: white;
}

.nav-cont-lite {
    display: flex;
    flex-direction: row;
}


/*@media screen and (max-width:1495px) {
    .nav-cont {
        width: 1600px;
    }
}*/

.item {
    padding: 16px;
}

.item a {
    font-size: 1.05rem;
    color: white;
    text-decoration: none;
}

#item-2 a:hover,
#item-3 a:hover {
    color: orangered;
    transition-property: color;
    transition-duration: 0.2s;
}

#item-1 a:visited {
    text-decoration: underline;
    color: orangered;
}


/*.input-form {
    margin: 10px 84px;
}

.input-form input {
    width: 339px;
    height: 39px;
    border-radius: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: aliceblue;
    color: purple;
}*/

.logo {
    font-size: 1rem;
    display: inline;
    margin: 16px 30px;
    font-weight: bolder;
}

.headd {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
    font-size: 2.5rem;
    margin: 23px 23px;
    position: relative;
    top: 23px;
    text-align: center;
}

.fa-questions {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.faq-container {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.4rem;
    width: 80%;
    padding-top: 59px;
}

.question {
    background-color: #e8afaf;
    font-weight: bold;
    color: white;
    padding-left: 10px;
}

.answer {
    background-color: #d8d9d9;
    padding-left: 10px;
}

footer {
    background-color: black;
}

.footer-cont {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 75px;
    color: white;
    padding: 35px;
}

.footer-c {
    padding: 10px 65px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 17px;
}

.hh1 {
    font-weight: bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-bottom: 20px;
    font-size: 23px;
}

.footer-c a {
    text-decoration: none;
    color: white;
}

.footer-c a:hover {
    color: orangered;
    transition-property: color;
    transition-duration: 0.2s;
}

.social-media-cont {
    display: flex;
    flex-direction: row;
}

.scl {
    width: 40px;
    height: 40px;
    margin: 10px 10px;
    border-radius: 10px;
}

#footer-c-5 {
    position: relative;
    bottom: 85px;
}

#footer-c-6 {
    position: relative;
    bottom: 86px;
}